group Client
    framework: net6.0
    source https://api.nuget.org/v3/index.json

nuget Fable.Auth0.React
nuget Feliz
nuget Feliz.Router
nuget FSharp.Core
nuget Fable.Browser.Dom
nuget Fable.Core
nuget Thoth.Fetch